@import "variables";

.table-container {
  max-width: 600px;
  border-collapse: collapse;
}

td {
  border: 1px solid $table-border;
  padding: 0.5em;
}

th {
  background: $neutral-color;
  color: white;
  padding: 0.5em;
  border: 1px solid $neutral-color;
}

.flex-row {
  width: 25%;
}

.flex-row, .flex-cell {
  text-align: center;
}

td input {
  padding: 10px;
}

.delete-cell {
  min-width: 70px;
  display: flex;
  justify-content: center;
  align-content: center;
}
