// general
$primary-color: #000000;
$font-stack:    Roboto, sans-serif;
$danger-color: #ed3330;
$success-color: #20bf6b;
$neutral-color: #1565C0;

// table
$table-header: #1976D2;
$table-border: #d9d9d9;
$row-bg: #f4f2f1;
